footer{
    margin-top:60px;
padding-top:40px;
padding-bottom:5px;
    background-color:#FFFFFF;
    color:#755A7D;
    width: 100%;
}
footer i{
color:#AFADAB;
}
footer p{
    padding-left: 68px;
    padding: 3px;

}
footer h5{
   color: #000000;
   margin: 25px 0px 25px 0px;
}
.logo-footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
}
.logo-navs{
    margin-right: 0px;
    margin-top: -34px;
    margin-bottom: 33px;
}
.foot-logo1 li{
    list-style: none;
    margin-right: -24px;
    margin-left: 64px;

}
.foot-logo1{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.foot-logo1 li a {
 color:#755A7D;

}
.foot-logo1 li a i {
    /* width: 104px; */
    font-size: 25px;

}

.foot-logos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
  

.foot-logos li{
    list-style: none;
    margin:0px 10px 0px 10px;
}
.foot-logos li a {
   text-decoration: none;
    color:#755A7D;

}
.foot-logos li a img{ 
margin:0px 10px 0px 10px;
}
h5 strong{
    color:#FB774B;
    margin-right:0px;
    margin-bottom: 21px;
    font-size: 15px;
    
}
footer h5{
    text-align: right;
}
.foot-logo2{
text-align: right;
}
.foot-logo2 li{
    list-style: none;
    margin-bottom: 15px;
}
.foot-logo2 li a {
    text-decoration: none;
    color: #755A7D;
    font-size: 14px;
}
.foot-logo2 li a:hover{
    color: #7f59be;
}
.foot-logo1 li a i:hover{
    color:#fc894b;
}
.right-me{
    position: absolute;
    left: 135px;
}
.foot-sub {
    display: flex;
    margin-right: 47px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 30px;
   
}
.lol{
    display: flex;
 
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.left-me{
    margin-top: -28px;
    margin-right: -35px;
}
.copy-right{
    width:100%;

    border-top:1px solid #EBEBEB;
}
.right-me a{
    text-decoration: none;
    padding: 10px;
}
.right-me a img{
    
    width: 300px;
 
}
.right-me a img:hover{
    box-shadow:-1px 1px 15px #fb774b;
   
}
.copy-right p {
    /* padding-left: 190px; */
    padding-top: 12px;
}
.foot-logo2 li a i{
    color: #755A7D;
}
.foot-logo2 a img{

margin:5px;
}
.foot-logo2 a img:hover{
    box-shadow:-1px 1px 15px #fb774b;
}